.container {
  border: 1px solid #dddfe2;
  box-shadow: 0 0 15px 2px #85b1ff;
  border-radius: 8px;
  margin-top: 13vh;
  margin-bottom: 13vh;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.5);
}

body {
  background-image: url("../../assets/bg.jfif");
}
