.editContainer{
    padding: 25vh 0;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 103, 0.377);
    display: flex;
    flex-wrap: wrap;
    justify-self: space-around;
}
.editBox{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #dddfe2;
    box-shadow: 0 0 15px 2px #85b1ff;
    border-radius: 8px;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.5);
    height: 50vh;
}
.editUser_picture{
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    border:1px solid black;
}
/* .editUser_textBox{
    display: flex;
    justify-content: flex-start;    
} */
.editUser_desc{
    font-size: 20px;
    color:black;
    text-align: right;
}
.editUser_field{
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    color:black;
    text-align: right;
}